body {
  font-family: Roboto, sans-serif;
  font-size: large;
  color: #407250;
  background-color: #f7fff7;
}

h1 {
  font-family: Cookie, serif;
  text-align: center;
}

h2 {
  font-family: Cookie, serif;
  font-size: 5vw;
  padding: 20px 0 0 10vw;
}

h3 {
  font-size: large;
  font-weight: bold;
  padding: 0 10vw 0 11vw;
}

p, ul {
  padding: 2px 10vw 2px 11vw;
  text-align: justify;
}

p#quote {
  padding: 1.2em 10vw 0 11vw;
  text-align: left;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
}

div#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 5vw;
  text-align: center;
  font-size: 1.6vw;
  background-color: white;
  border-bottom: solid 2px #bfd2ce;
}

div#menu > a {
  padding: 0 2vw;
  line-height: 5vw;
}

div#splash {
  margin-top: 5vw;
  text-align: center;
  color: #1c3331;
  font-size: x-large;
  background-image: url(../img/sunset.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 35vw;
}

div#splash a {
  color: #1c3331 !important;
}

div#splash > h1 {
  padding-top: 8vw;
  font-size: 8vw;
}

div#splash i {
  padding-top: 2vw;
  font-size: 50px;
  color: #1c3331;
}

a, a:visited, a:active, a:hover, a:focus {
  text-decoration: none;
	color: #407250;
}

img[src*=karen] {
  margin: 5px 20px 10px 0;
  float: left;
  max-height: 300px;
  height: 15vw;
  border: 1px solid #222;
}

@media (max-width: 800px) {
  img[src*=karen] {
    height: 100px;
  }
}
